body{
    background-color:bisque ;
}
td, th{
    border: 1px solid black;
    height: 30px;
    font-size: larger;
    width: 10px;
}
table{
    border: 2px solid blue;
    text-align: center;
    margin: auto;
    width: 1100px;
    border-collapse: collapse;

}
p{
    margin: 5px;
    font-size: 0.7em;
}
thead{
    background-color: lightblue;
}
.ora{
    background-color: rgb(54, 155, 238);
    border: 1px solid black;
}
tbody, tfoot{
    background-color: azure;
}
caption{
    font-weight: bold;
    font-size: 4em;
}
.termek{
    color: red;
}
td:hover{
    background-color: rgb(146, 243, 243);
}
.ora:hover{
    background-color: rgb(54, 155, 238);
}